<%= form_for @annotation, :html => { :class => "form-horizontal annotation" } do |f| %>

    <% if @annotation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@annotation.errors.count, "error") %> prohibited this annotation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @annotation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'form-control' %>
      <ul>
      
      </ul>
    </div>
    <%= error_span(@annotation[:body]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            annotations_path, :class => 'btn btn-default' %>

<% end %>
